# Ignore all node_modules
node_modules/*
functions/node_modules/*

# ...except the symlink to ourselves.
!node_modules/APP

# Compiled JS
public/bundle.js
public/bundle.js.map

# NPM errors
npm-debug.log

# Firebase debug log
firebase-debug.log

# Secrets
witches_brew.env.js

# Systems Files
.idea/*
.DS_Store

# Emacs savefiles
*~