#cauldron, #poofed-witch, #waiting-witch {
  height: 200px
}

.col-sm-3 {
  width: 25%;
  float: left;
  margin: 0 auto;
  position: relative; }

@font-face {
  font-family: 'LadyRadical';
  src: url('./fonts/LadyRadical.ttf');
}

.Modal {
  font-family: 'LadyRadical';
  color: #B920D3;
  background-color: #730187;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
}

.wizardPoof {
  width: 200px;
  max-width: 90%;
}

.levelUp {
  width: 100px;
  max-width: 50%;
}

h1 {
  font-family: 'LadyRadical';
  color: #32003A;
}

body {
  background-color: #e6e6e6;
  width: 100%;
  height: 100%;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #32003A;
}

.center {
  margin: auto;
  width: 60%;
}

h2 {
  font-family: 'LadyRadical';
  color: #B920D3;
}

p {
  color: #730187;
}

body {
  /*background-color: #e6e6e6;*/
  background-image: url('gifs/background-spider.jpg');
  background-size: 100%;
}

.live-deliciously {
  width: 25%;
  border: 10px red;
}

.command1 {
  color: green
}

.command1 {
  color: darkorange;
}

.command1 {
  color: red;
}

.center {
  text-align: center;
  margin: auto;
  paddin: 10px;
  width: 90%
}

.ingredientImg {
  display: inline-block;
  width: 150px;
}

#bar {
  height: 10px;
  background-color: #B920D3;
  border-radius: 5px;
}

#bar:before {
  height: 20px;
  position: absolute;
  top: 8px;
  left: 0px;
  background: #fff;
  animation: active-anim 2s cubic-bezier(0.25, 1, 0.6, 1) infinite;
  content: "";
  opacity: 0;
  }

@keyframes active-anim {
  0% {
    width: 0;
    opacity: .1
  }
  20% {
    width: 0;
    opacity: .5
  }
  to {
    width: 100%;
    opacity: 0
  }
}
