#cauldron, #poofed-witch, #waiting-witch {
  height: 200px
}

.col-sm-3 {
  width: 25%;
  float: left;
  margin: 0 auto;
  position: relative; }

@font-face {
  font-family: 'LadyRadical';
  src: url('./fonts/LadyRadical.ttf');
}

.Modal {
  font-family: 'LadyRadical';
  color: #B920D3;
  background-color: #730187;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
}

.wizardPoof {
  width: 37%;
  text-align: center;
}

.levelUp {
  width: 100px;
  max-width: 50%;
}

h1 {
  font-family: 'LadyRadical';
  color: #32003A;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #32003A;
}

.center {
  margin: auto;
  width: 60%;
}

h2 {
  font-family: 'LadyRadical';
  color: #B920D3;
}

p {
  color: #730187;
}

body {
  /*background-color: #e6e6e6;*/
<<<<<<< HEAD
  background-image: url('gifs/background-spider.png');
  background-size: 100%;
}

=======
  background-image: url('gifs/background-spider.jpg');
  background-size: 100%;
}

.live-deliciously {
  width: 25%;
  border: 10px red;
}

>>>>>>> cauldron sparkles
.command1 {
  color: green
}

.command1 {
  color: darkorange;
}

.command1 {
  color: red;
}

<<<<<<< HEAD
.center {
  text-align: center;
  margin: auto;
  padding: 10px;
  width: 90%
}

.ingredientImg {
  display: inline-block;
  width: 150px;
}

#bar {
  height: 10px;
  background-color: #B920D3;
  border-radius: 5px;
}

#overlay {
  position:absolute;
  height: 10px;
  background: #fff;
  animation: active-anim 2s cubic-bezier(0.25, 1, 0.6, 1) infinite;
  content: "";
  opacity: 0;
  z-index:0;
  border-radius: 5px;
  }

#timerBg {
  position: relative;
  height: 10px;
  background-color: #e2e2e2;
  border-radius: 5px;
  z-index: -1;
}

@keyframes active-anim {
  0% {
    width: 0;
    opacity: .1
  }
  20% {
    width: 0;
    opacity: .5
  }
  to {
    width: 80%;
    opacity: 0
  }
}

.center {
  text-align: center;
  margin: auto;
  padding: 10px;
  width: 90%
}

a {
  color: #32003A;
  text-decoration: 'none'
}

a:hover{
  color: #730187;
  text-decoration: 'none'
}

.fade {
  transition: opacity 0.5s;
  opacity: 1;
}

.fade.hide {
  opacity: 0;
  pointer-events:none;
}

@media (max-width:700px){
  body {
    /*background-color: #e6e6e6;*/
    background-image: url('gifs/background.png');
    background-size: 170%;
    background-position:initial;
    background-repeat: no-repeat;
  }
  .mobile-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .logo {
    width: 330px;
    text-align: center;
  }
  .introBody {
    background-image: url('/gifs/backgroundGif.gif');
    background-color: #000;
    background-repeat: no-repeat;
    background-size:1500px 769px;
  }
  .waitingBody {
    background-image: url('/gifs/waiting.png');
    background-repeat: repeat;
  }
  .skip {
    position:fixed;
    left:5px;
    bottom:40px;
    text-align: center;
  }
  .home-button {
   width: 1%
  }
  .live-deliciously {
    width: 100%
  }
}

@media (min-width:700px){
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .live-deliciously {
    width: 25%;
  }
=======
.ingredientImg {
  display: inline-block;
  width: 40%;
}

#playInterface {
  height: 100vh;
  width: 100vw;
}

#ingredients {
  height: 50vh;
  background-image: url('brown-bg.png');
  width: 100vw;
}

table {
  width: 100%;
>>>>>>> cauldron sparkles
}
