#cauldron, #poofed-witch, #waiting-witch {
  height: 200px
}

.col-sm-3 {
  width: 25%;
  float: left;
  margin: 0 auto;
  position: relative; }

@font-face {
  font-family: 'LadyRadical';
  src: url('./fonts/LadyRadical.ttf');
}

.Modal {
  font-family: 'LadyRadical';
  color: #B920D3;
  background-color: #730187;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
}

.wizardPoof {
  width: 200px;
  max-width: 90%;
}

.levelUp {
  width: 100px;
  max-width: 50%;
}

h1 {
  font-family: 'LadyRadical';
  color: #32003A;
}

body {
  background-color: #e6e6e6;
  width: 100%;
  height: 100%;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #32003A;
}

.center {
  margin: auto;
  width: 60%;
}

h2 {
  font-family: 'LadyRadical';
  color: #B920D3;
}

p {
  color: #730187;
}

body {
  /*background-color: #e6e6e6;*/
  background-image: url('gifs/background-spider.jpg');
  background-size: 100%;
}

.live-deliciously {
  width: 25%;
  border: 10px red;
}

.command1 {
  color: green
}

.command1 {
  color: darkorange;
}

.command1 {
  color: red;
}

.ingredientImg {
  display: inline-block;
  width: 40%;
}

#playInterface {
  height: 100vh;
  width: 100vw;
}

#ingredients {
  height: 50vh;
  background-image: url('brown-bg.png');
  width: 100vw;
}

table {
  width: 100%;
}
